{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}

<div class="row marketing">
  <div class="jumbotron col-lg-12">
    <h2 class="mt-3">Lista de Alunos</h2>

    {% if not users %}
    <p>Não existem Usuários cadastrados ainda.</p>
    {% endif %}

    <a href="{{ url_for('cadperfil') }}">Criar Perfil</a>

    <ul>
    {% for user in data.users %}

        <li>
            <h6>{{ user.id }} - {{ user.username }} - {{ user.password }} - {{ user.name }} - {{ user.email }}</h6>
        </li><hr />

    {% endfor %}
    </ul>

  </div>
</div>

  {% endblock %}
